@model MusicGallery.Models.Music[]

@{
    ViewBag.Title = "Music";
}

<h2>@ViewBag.Title</h2>

<div class="row">
  @foreach (var music in Model)
  {
    <div class="col-md-3">
      <h4>@Html.ActionLink(music.DisplayText, "Detail", new { id = music.Id })</h4>
      <a href="@Url.Action("Detail", new { id = music.Id } )">
        <img src="/Images/@music.CoverImageFileName" alt="@music.DisplayText" class="img-responsive" />
      </a>
    </div>
  }
</div>