@model MusicGallery.Models.Music[]

@{
    ViewBag.Title = "Music";
}

<h2>@ViewBag.Title</h2>

<div class="row">
  @foreach (var music in Model)
  {
    <div class="col-md-3">
      <h4>@music.DisplayText</h4>
      <img src="/Images/@music.CoverImageFileName" alt="@music.DisplayText" class="img-responsive" />
    </div>
  }
</div>